In [2]:
import sqlite3

In [29]:
connection  = sqlite3.connect('example.db')
connection

In [30]:
cursor = connection.cursor()

In [31]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
               id integer primary key,
               name text not null,
               age integer,
               department text
               )
               ''')
connection.commit()

In [37]:
cursor.execute('''INSERT INTO employees values(4,'kesha',20,'AIDS'),
               (5,'lisa',23,'CSE')
                ''')
connection.commit()

In [38]:
cursor.execute('select * from employees')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'nikshi', 20, 'AIDS')
(2, 'nisha', 22, 'AIDS')
(3, 'nishesh', 23, 'CSE')
(4, 'kesha', 20, 'AIDS')
(5, 'lisa', 23, 'CSE')

In [39]:
cursor.execute('''UPDATE employees set age = 25 where id = 2''')
connection.commit()

In [40]:
cursor.execute('''select * from employees''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'nikshi', 20, 'AIDS')
(2, 'nisha', 25, 'AIDS')
(3, 'nishesh', 23, 'CSE')
(4, 'kesha', 20, 'AIDS')
(5, 'lisa', 23, 'CSE')

In [42]:
cursor.execute(''' DELETE FROM employees where id = 5 ''')
connection.commit()

In [43]:
connection.close()

In [45]:
connection = sqlite3.connect('sales.db')
connection

In [46]:
cursor =  connection.cursor()

In [47]:
cursor.execute(''' CREATE TABLE IF NOT EXISTS sales(
               id int primary key,
                productname text not null,
               date date NOT null,
               salescount int,
               region text not null)''')
connection.commit()

In [58]:
salesdata = [
    (1,'pencil','2025-06-06',200,'INDIA'),
    (2,'pen','2025-06-07',300,'EAST TIMOR'),
    (3,'scale','2025-06-08',170,'AUSTRALIA'),
    (4,'stencil','2025-06-09',100,'NEPAL'),
    (5,'eraser','2025-06-10',290,'INDIA'),
    (6,'compass','2025-06-11',250,'INDIA')
]
print(salesdata)

[(1, 'pencil', '2025-06-06', 200, 'INDIA'), (2, 'pen', '2025-06-07', 300, 'EAST TIMOR'), (3, 'scale', '2025-06-08', 170, 'AUSTRALIA'), (4, 'stencil', '2025-06-09', 100, 'NEPAL'), (5, 'eraser', '2025-06-10', 290, 'INDIA'), (6, 'compass', '2025-06-11', 250, 'INDIA')]

In [59]:
cursor.executemany('''insert into sales(id,productname,date,salescount,region) values(?,?,?,?,?)''',salesdata)
connection.commit()

In [62]:
cursor.execute('''select * from sales''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'pencil', '2025-06-06', 200, 'INDIA')
(2, 'pen', '2025-06-07', 300, 'EAST TIMOR')
(3, 'scale', '2025-06-08', 170, 'AUSTRALIA')
(4, 'stencil', '2025-06-09', 100, 'NEPAL')
(5, 'eraser', '2025-06-10', 290, 'INDIA')
(6, 'compass', '2025-06-11', 250, 'INDIA')

In [63]:
connection.close()